@mixin for-tab {
  @media screen and (min-width: 0px) and(max-width: 768px) {
    @content;
  }
}
@mixin for-desktop {
  @media screen and (min-width: 769px) and (max-width: 4000px) {
    @content;
  }
}

@mixin flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin show {
  display: block;
}

@mixin show {
  display: none;
}
