@use "../../../styles/base";

.navlink {
  padding: 0.5rem 0;
  margin-right: 0.5rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
  color: base.$light;

  &:hover {
    color: base.$white;
    border-bottom: 2px solid base.$white;
  }
}
